.cups {
    animation: beat 1s ease-in-out infinite alternate;
    width: 20vw;
    background-color: black;
    border-radius: 50%;
    padding: 1px;
}

@@media (min-width: 768px) {
    .cups {
        width: 8vw;
    }
}

@keyframes beat {
    from {	transform: rotate(-6deg); }
    to {	transform: rotate(6deg); }
}
