@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0 1rem 10rem 0;
    font-size: 16px;
}

h1 {
	font-size: 6rem;
	margin: 1rem 0;
	font-weight: 900;
	font-style: italic;
	z-index: 1;
	position: relative;
}
h1:before,
h1:after {
	content: "MKTracker";
	opacity: 0.5;
	position: absolute;
	z-index: 0;
}
h1:before {
	color: red;
	left: -2px;
	top: -2px;
}
h1:after {
	color: blue;
	left: 2px;
	top: 2px;
}


.cups {
	animation: beat 1s ease-in-out infinite alternate;
}
@keyframes beat {
	from {	transform: rotate(-6deg); }
	to {	transform: rotate(6deg); }
}
.App-header {
    padding: 1rem 0;
}

.cup-row {
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}
.cup-row.active {
    background-color: lightskyblue;
}
.cup-image {
    animation: beat .6s ease-in-out infinite alternate;
    width: 100%;
    background-color: black;
    border-radius: 50%;
    padding: 1px;
}

@keyframes beat {
    from {	transform: rotate(-3deg); }
    to {	transform: rotate(3deg); }
}

/* Scores by cup */
.scoreCell .score {
    font-size: 1.5rem;
}
@media (min-width: 540px) {
    .scoreCell {
        font-weight: 900;
        padding: .75rem;
        background-color: #222;
        border-radius: 2rem;
        font-weight: 900;
    }

    .scoreCell .score {
        font-size: 2rem;
        color: #fff;
    }
}

/* Utility Classes */
.align-right {
    text-align: right;
}
/* End Utility Classes */
