@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 0;
    font-weight: 900;
}
