@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0 1rem 10rem 0;
    font-size: 16px;
}

h1 {
    font-size: 4rem;
    line-height: 1;
    margin: 1rem 0;
    font-weight: 900;
}
.cups {
	animation: beat 1s ease-in-out infinite alternate;
}
@keyframes beat {
	from {	transform: rotate(-6deg); }
	to {	transform: rotate(6deg); }
}
.App-header {
    padding: 1rem 0;
}

.cup-row {
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}
.cup-row.active {
    background-color: lightskyblue;
}
.cup-image {
    animation: beat .6s ease-in-out infinite alternate;
    width: 100%;
    background-color: black;
    border-radius: 50%;
    padding: 1px;
}

@keyframes beat {
    from {	transform: rotate(-3deg); }
    to {	transform: rotate(3deg); }
}
.btn-group{
    height: 50px;
    margin-top: auto;
}
/* Utility Classes */
.align-right {
    text-align: right;
}
/* End Utility Classes */
